<ion-header>
  <ion-navbar>
    <ion-title>
      Login User
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      Login User can:
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>join meeting</li>
        <li>start a scheduled meeting</li>
        <li>start instant meeting</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      Login
    </ion-card-header>
    <ion-card-content padding>
      <p *ngIf="!loggedIn">Enter your Zoom username and password</p>
      <ion-list *ngIf="!loggedIn">
        <ion-item>
          <ion-label stacked>Username</ion-label>
          <ion-input type="text" [(ngModel)]="userName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <button *ngIf="!loggedIn" ion-button full (click)="login()">Login</button>
      <button *ngIf="loggedIn" ion-button full (click)="logout()">Logout</button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="loggedIn">
    <ion-card-header>
      Meeting
    </ion-card-header>
    <ion-card-content padding>
      <ion-list>
        <ion-item>
          <ion-label stacked>MeetingNo</ion-label>
          <ion-input type="string" [(ngModel)]="meetingNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Meeting Password (if any)</ion-label>
          <ion-input type="password" [(ngModel)]="meetingPassword"></ion-input>
        </ion-item>
      </ion-list>
      <button ion-button full (click)="joinMeeting()">Join Meeting</button>
      <button ion-button full (click)="startMeeting()">Start Meeting</button>
      <div padding>
        <button ion-button full (click)="startInstantMeeting()" outline>Start Instant Meeting</button>
      </div>
    </ion-card-content>
  </ion-card>

  <!--<button ion-button full (click)="isLoggedIn()">Logged In?</button>-->
</ion-content>
